In [18]:
import pandas as pd

import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.types import (
    StringType,
    TimestampType,
    IntegerType,
    StructField,
    StructType
)

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('homework') \
    .getOrCreate()

24/03/03 15:35:26 WARN Utils: Your hostname, debian resolves to a loopback address: 127.0.1.1; using 192.168.1.121 instead (on interface wlp0s20f3)
24/03/03 15:35:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/03 15:35:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/03 15:35:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

# Question 1. Spark version

In [73]:
print("Spark version:", spark.version)

Spark version: 3.5.1

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-03 15:37:04--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T123710Z&X-Amz-Expires=300&X-Amz-Signature=f0d169e7d4c3ed4dbb318cc4e2df743ccd483d8215cbf0fe498de807a3a1508e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-03 15:37:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T123710Z&X-Amz-Expires=300&X-Amz-Signature=f0d169e7d4c3ed4dbb318cc4e2df743ccd483d8215cbf0fe498de807a3a1508e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M   266KB/s    in 42s

2024-03-03 15:37:53 (455 KB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [ ]:
!gunzip fhv_tripdata_2019-10.csv.gz

In [13]:
!ls

05-batch-homework.ipynb    de-zoomcamp-practice      metabase  pytube_downloads
data-engineering-zoomcamp  fhv_tripdata_2019-10.csv  plugins   venv

In [21]:
filename = "fhv_tripdata_2019-10.csv"

In [14]:
df_pandas = pd.read_csv(filename, nrows=5)

In [16]:
print(df_pandas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   dispatching_base_num    5 non-null      object
 1   pickup_datetime         5 non-null      object
 2   dropOff_datetime        5 non-null      object
 3   PUlocationID            5 non-null      int64
 4   DOlocationID            5 non-null      int64
 5   SR_Flag                 0 non-null      float64
 6   Affiliated_base_number  5 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 412.0+ bytes
None

In [19]:
df_pandas

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,NaN,B00014

In [17]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [20]:
schema = StructType([
    StructField('dispatching_base_num', StringType(), True), 
    StructField('pickup_datetime', TimestampType(), True), 
    StructField('dropOff_datetime', TimestampType(), True), 
    StructField('PUlocationID', IntegerType(), True), 
    StructField('DOlocationID', IntegerType(), True), 
    StructField('SR_Flag', StringType(), True), 
    StructField('Affiliated_base_number', StringType(), True)])

In [22]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv(filename)

In [24]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [25]:
df = df.repartition(6)

In [27]:
df.write.parquet('fhv/2019/10/')

# Question 2. FHV October 2019 partition size

In [29]:
!ls -lth fhv/2019/10

total 37M
-rw-r--r-- 1 odeke odeke    0 Mar  3 15:58 _SUCCESS
-rw-r--r-- 1 odeke odeke 6.1M Mar  3 15:58 part-00003-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet
-rw-r--r-- 1 odeke odeke 6.1M Mar  3 15:58 part-00005-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet
-rw-r--r-- 1 odeke odeke 6.1M Mar  3 15:58 part-00001-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet
-rw-r--r-- 1 odeke odeke 6.1M Mar  3 15:58 part-00000-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet
-rw-r--r-- 1 odeke odeke 6.0M Mar  3 15:58 part-00002-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet
-rw-r--r-- 1 odeke odeke 6.0M Mar  3 15:58 part-00004-38111ab5-7c49-49a6-ae4a-fea959f746d4-c000.snappy.parquet

In [30]:
df_parquet = spark.read.parquet("fhv/2019/10/")

In [31]:
df_parquet.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [33]:
df_parquet.registerTempTable('fhv_homework')

In [34]:
spark.sql("""
SELECT
    *
FROM
    fhv_homework
LIMIT 10;
""").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B01717|2019-10-03 10:48:22|2019-10-03 11:06:56|         264|         248|   NULL|                B01717|
|              B01087|2019-10-02 05:35:03|2019-10-02 06:02:31|          33|         132|   NULL|                B01087|
|              B00882|2019-10-02 11:50:56|2019-10-02 11:51:54|         264|          42|   NULL|                B00882|
|              B01231|2019-10-04 00:14:31|2019-10-04 00:20:15|         264|          49|   NULL|                B02889|
|              B01145|2019-10-03 06:54:00|2019-10-03 06:59:16|         264|         167|   NULL|                B02847|
|              B02440|2019-10-01 15:47:00|2019-10-01 16:23:00|         264|         264|   NULL|                B02440|
|              B03243|2019-10-02 09:07:58|2019-10-02 09:25:23|         264|         129|   NULL|                B03243|
|              B00310|2019-10-02 07:35:55|2019-10-02 08:05:08|         264|          18|   NULL|                B00310|
|              B00948|2019-10-02 09:28:49|2019-10-02 09:38:02|         264|          76|   NULL|                B00948|
|              B02930|2019-10-03 11:09:20|2019-10-03 11:16:26|         264|         242|   NULL|                B02930|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+

# Question 3. Count records on 15th of October

In [38]:
spark.sql("""
SELECT 
    COUNT(*) as trip_count
FROM 
    fhv_homework
WHERE DATE(pickup_datetime) = '2019-10-15';
""").show()

+----------+
|trip_count|
+----------+
|     62610|
+----------+

# Question 4. The longest trip

In [43]:
spark.sql("""
SELECT 
    DATE(pickup_datetime) AS pickup_date,
    MAX(TIMESTAMPDIFF(HOUR, pickup_datetime, dropOff_datetime)) AS longest_trip
FROM 
    fhv_homework
GROUP BY pickup_date
ORDER BY longest_trip DESC LIMIT 5;
""").show()

+-----------+------------+
|pickup_date|longest_trip|
+-----------+------------+
| 2019-10-28|      631152|
| 2019-10-11|      631152|
| 2019-10-31|       87672|
| 2019-10-01|       70128|
| 2019-10-17|        8794|
+-----------+------------+

In [44]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-03 16:24:08--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T132409Z&X-Amz-Expires=300&X-Amz-Signature=5630b256bebc2f4f93d3d5cfb3586435dfd3df3a4704615a7c2a145949a1e106&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-03 16:24:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240303T132409Z&X-Amz-Expires=300&X-Amz-Signature=5630b256bebc2f4f93d3d5cfb3586435dfd3df3a4704615a7c2a145949a1e106&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-03 16:24:11 (218 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [49]:
df_zones_pandas = pd.read_csv("taxi_zone_lookup.csv")

In [50]:
df_zones_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [51]:
df_zones_pandas.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [52]:
spark.createDataFrame(df_zones_pandas).schema

StructType([StructField('LocationID', LongType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [54]:
zones_schema = StructType([
    StructField('LocationID', IntegerType(), True), 
    StructField('Borough', StringType(), True), 
    StructField('Zone', StringType(), True), 
    StructField('service_zone', StringType(), True)])

In [55]:
df_zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv("taxi_zone_lookup.csv")

In [56]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [62]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [67]:
df_join = df.join(df_zones, df.PUlocationID == df_zones.LocationID)

In [68]:
df_join.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|                Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
|              B01231|2019-10-03 21:50:40|2019-10-03 21:55:35|         264|         217|   NULL|                B02849|       264|  Unknown|                  NV|         N/A|
|              B00227|2019-10-02 16:00:00|2019-10-02 18:10:00|         264|         264|   NULL|                B00227|       264|  Unknown|                  NV|         N/A|
|              B02103|2019-10-02 09:14:01|2019-10-02 09:23:00|         264|          92|   NULL|                B00095|       264|  Unknown|                  NV|         N/A|
|              B00860|2019-10-02 17:59:14|2019-10-02 18:10:28|         264|         200|   NULL|                B00860|       264|  Unknown|                  NV|         N/A|
|              B02715|2019-10-03 20:40:17|2019-10-03 21:16:27|         265|         262|   NULL|                B01087|       265|  Unknown|                  NA|         N/A|
|              B02731|2019-10-04 10:32:00|2019-10-04 11:08:00|         264|         264|   NULL|                B02731|       264|  Unknown|                  NV|         N/A|
|              B00856|2019-10-03 23:36:17|2019-10-03 23:50:15|         264|         210|   NULL|                B02765|       264|  Unknown|                  NV|         N/A|
|              B03064|2019-10-04 13:30:00|2019-10-04 14:25:00|         264|         264|   NULL|                  NULL|       264|  Unknown|                  NV|         N/A|
|              B02293|2019-10-03 16:12:38|2019-10-03 16:43:46|          41|         127|   NULL|                B02293|        41|Manhattan|      Central Harlem|   Boro Zone|
|              B01263|2019-10-02 21:36:16|2019-10-02 21:55:19|         264|          26|   NULL|                B01263|       264|  Unknown|                  NV|         N/A|
|              B01629|2019-10-02 09:58:42|2019-10-02 10:07:51|          77|          76|   NULL|                B01629|        77| Brooklyn|East New York/Pen...|   Boro Zone|
|              B03047|2019-10-01 09:10:48|2019-10-01 10:24:45|         180|          42|   NULL|                B03047|       180|   Queens|          Ozone Park|   Boro Zone|
|              B00727|2019-10-04 12:38:18|2019-10-04 12:50:24|         264|         264|   NULL|                B00727|       264|  Unknown|                  NV|         N/A|
|              B00009|2019-10-02 07:56:00|2019-10-02 08:17:00|         264|         264|   NULL|                B00009|       264|  Unknown|                  NV|         N/A|
|              B02293|2019-10-02 08:18:04|2019-10-02 12:06:24|         116|          73|   NULL|                B02293|       116|Manhattan|    Hamilton Heights|   Boro Zone|
|              B01285|2019-10-03 11:34:53|2019-10-03 11:52:34|         264|          32|   NULL|                B01285|       264|  Unknown|                  NV|         N/A|
|              B03016|2019-10-01 13:46:53|2019-10-01 13:54:23|         264|          51|   NULL|                B02871|       264|  Unknown|                  NV|         N/A|
|              B02133|2019-10-01 11:22:01|2019-10-01 11:38:17|         264|         264|   NULL|                B02882|       264|  Unknown|                  NV|         N/A|
|              B02998|2019-10-02 08:16:26|2019-10-02 08:51:58|         168|         119|   NULL|                B02998|       168|    Bronx|Mott Haven/Port M...|   Boro Zone|
|              B01129|2019-10-03 16:43:00|2019-10-03 16:50:00|         264|         264|   NULL|                B01129|       264|  Unknown|                  NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [70]:
df_join.createOrReplaceTempView("df_joined")

# Question 6. Least frequent pickup location zone

In [72]:
spark.sql("""
SELECT LocationID, Zone, COUNT(*) as pickup_count
    FROM df_joined
GROUP BY LocationID, Zone
ORDER BY pickup_count ASC
LIMIT 1;
""").show()

+----------+-----------+------------+
|LocationID|       Zone|pickup_count|
+----------+-----------+------------+
|         2|Jamaica Bay|           1|
+----------+-----------+------------+